<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parallel Test Suite" parallel="classes" thread-count="3">
    <test name="Login With Invalid Credential">
        <classes>
            <class name="e2e.TestProductSearchAndFilter">
                <methods>
                    <include name="filterProductsByPrice"/>
                </methods>

            </class>
        </classes>
    </test>

</suite>
